.formWrapper{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}
.formstyle{
    margin: 4px;
    padding: 5px;
}
.navbar{
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 6px;
}